html {
    height: 99%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.container {
    border: 1px solid black;
    width: 480px;
}

.radek {
    display: block;
    margin: 0;
    height: 60px;
}

.pole {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 0;
}

.radek:nth-child(odd) .pole:nth-child(even) {
    background-color: #343434;
}

.radek:nth-child(even) .pole:nth-child(odd) {
    background-color: #343434;
}
